{% extends "layout.html" %}
{% block content %}

    {% for dict_item in recipe_list %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/{{ dict_item['File'] }}" alt="Card image cap">
                    <br>
                    <p>
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Ingredients
                      </a>
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Preparation
                      </a>
                    </p>
                        <div class="collapse" id="collapse1">
                          <div class="card card-body">
                            {{ dict_item['Ingredients'] }}
                          </div>
                        </div>
                        <div class="collapse" id="collapse2">
                          <div class="card card-body">
                            {{ dict_item['Prep'] }}
                          </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      <br>
    {% endfor %}

{% endblock content %}

